# See https://intellij-support.jetbrains.com/hc/en-us/articles/206544839-How-to-manage-projects-under-Version-Control-Systems
# for explanation of these excludes
workspace.xml
usage.statistics.xml
shelf/

*.iml
modules.xml
gradle.xml

